@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
  margin: 20px;
  text-align: center;
}

body {
  color: #22223b;
  background-color: #f2e9e4;
}

button,
input[type='button'] {
  background-color: #22223b;
  border-color: #22223b;
}

button:hover,
button:focus {
  background-color: #4a4e69;
  border-color: #4a4e69;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.currentActor {
  background-color: #c9ada7;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.currentActor blockquote {
  border-left-color: #22223b;
}

#home {
  display: flex;
  margin: 50px;
  justify-content: space-around;
}

#scriptPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actorNav {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
