h1 {
  margin: 20px;
  text-align: center;
}

body {
  color: #22223b;
  background-color: #f2e9e4;
}

button,
input[type='button'] {
  background-color: #22223b;
  border-color: #22223b;
}

button:hover,
button:focus {
  background-color: #4a4e69;
  border-color: #4a4e69;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

.currentActor {
  background-color: #c9ada7;
  border-radius: 15px;
}

#home {
  display: flex;
  margin: 50px;
  justify-content: space-around;
}

#scriptPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actorNav {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
